<%= form_with(model: course) do |form| %>
  <% if course.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <div class="form-group">
    <%= form.label :coding_class, {}, { class: 'form-text' } %>
    <%= form.select :coding_class_id, options_from_collection_for_select(@coding_class, :id, :title), { prompt: 'Select coding class' }, { class: 'form-control' } %>
  </div>
   <div class="form-group">
    <%= form.label :trimester, {}, { class: 'form-text' } %>
    <%= form.select :trimester_id, options_from_collection_for_select(@trimester, :id, :tr), { prompt: 'Select trimester' }, { class: 'form-control' } %>
  </div>
  
  <div>
    <%= form.label :max_enrollment, style: "display: block" %>
    <%= form.number_field :max_enrollment %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
